.{
    
   margin: 0;
    box-sizing: border-box;    
}

html {
    font-size: 25px;
}

.container{
    background-color: cyan;
    text-align: center;
    padding: 5px;
    font-size: 20vh;
    max-width: 600px;
}

.text{
    font-size: 1cm;
}

.type{
   display: none;
   height: 25vh;
   font-size: 2rem;
}
@media (max-width: 500px) {
    .phone {
        display: block;
        background-color: rgb(2o4, 255, 19);
    }
}

@media  (min-width:1001px)  and (max-width: 500px;) {
    .widescreen {
        display: block;
        background-color: darkmagenta;
        color: white;
    }

.block {
    background-color: tomato;
    width: 100px;
    height: 100px;
    margin: 10px;
}

@media (max-width: 700px) {
  .blocks {
    flex-direction: column;
  }
  .block{
    width: 92vw;
  }   
}

    

 
