* {
    padding: 0;
    margin: 0;
}
.bgcontent {
    height: 60vh;
    background-image: url(../../../img.images.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     background: linear-gradient(rgb(214, 121 ,121), rgb(210, 210, 124), rgb(143, 143,232));   
}
.herosection {
    height: 60vh;
    background-image: url(../../../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}

.card p {
    background-color: #fff;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.maincontent {
    color: white;
    text-align: center;
    margin-top: 40px;
    height: 60vh;
    width: 40%;
    background-image: url(../../../img/frist.png),
    
    linear-gradient(rgb(223, 200, 186), rgb(176, 155, 201), rgb(89, 0, 255));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
  border: 20px dotted #4400ff;
  background-blend-mode: multiply;

}