*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    border: 2px solid red;
    height: 100vh;
    margin: o auto;
    width: 37vw;
    height: 30vh;
   margin:0 auto;
   box-shadow: 0;
}
.container h1 {
    text-align: center;
  font-family: poppins sans-serif;
  margin-top: 20px;
}
.card
{
    border: 2px solid black;
    width: 235px;
    border-radius: 16px;
    height: 320px;
    background-color: rgba(red, green, blue, alpha);
    margin-top: 20px;
    display: inline-block;
}
.card img{
    border-radius: 16px 16px 0 0;
}
.content
{
    padding: 12px;
    font-size: 7px;
    font-family: popins,sans-serif;
    border-radius: 0 0 20px;
    border: 2px red solid;
}
.content h2{
    border: 2px solid red;
    margin-top: 11px;
    font-size: small;
    font-weight: bold;
}
.content button
{
    font-family:poppins,sans-serif;
    border: none;
    padding: 15px;
    border-radius: 25px;
    background-color: rgba(red, green, blue, alpha)
    width: 90px;
    height: 10px;
    font-size:9x;
    color:white;
    line-height: 2px;
    cursor:pointer;  
 }

 .card2
 {
    margin-left: 16px;
 }
 .card4
 {
    margin-left: 16px;
 }
