* {
    padding: 0%;
    margin: 0%;
}
.bgcontent {
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background: linear-gradient(rgb);
    height: 300px;
    
}

.herosection {
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 40px;
    background-attachment: fixed;
}

.card p {
    background-color: #ffffff;
    display: inline-block;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

.maincontent {
    color: rgb(229, 220, 245);
    text-align: center;
    margin-top: px;
}