.active a {
    text-decoration: none;
}
.active a:active {
    text-decoration: underline;
    color: blue;
}
.hover button:hover {
    background-color: aquamarine;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
}
.container:focus-within {
    background-color: aqua;
}

#targetcontainer:target {
    background-color: red;
    color: #fff;
    font-size: 1.7rem;
}
.visited a:visited {
    color: rgb(rgb(195, 223, 207), green, blue);
}

.btn-visible button:focus-visible {
    background-color: blueviolet;
}