.beforeAfer {
    text-align: center;
    position: relative;
}
.beforeAfer h3::before {
    top: 11px;
    left: 219px;
    position: absolute;
    content: "";
    width: 13%;
    height: 9%;
    background-color: rgb(red, green, blue);
}
.beforeAfer h3:: :after {
    top: 11px;
    right: 219px;
    position: absolute;
    content: "";
    width: 13%;
    height: 9%;
    background-color: rgb(red, green, blue);
}
.placeholder input::placeholder {
    font-size: 20px;
    color: blue;
}
.placeholder p::first-letter {
    font-size: 20px;
    color: blue;
}
ul {
    list-style-type: none;
}

